// app global css in SCSS form

body {
    background-color: #f7f9f7; // Cinza off-white (Agribusiness)
}

.text-agro-primary {
    color: #5bec13;
}

.bg-agro-primary {
    background-color: #5bec13;
}

.text-agro-negative {
    color: #e57373;
}

.bg-agro-negative {
    background-color: #e57373;
}